
.card-small {
    align-content: center;
    width: 100%;
    height: 240px;
    @media (min-width: 767px) {
        width: 285px;
    }
    @media (min-width: 1024px) {
        height: 285px;
        width: 300px;
    }
    &__title {
        font-size: 16px;
        margin: 0;
        padding: 20px 0 10px 0;
    }
    img {
        size: cover;
        position: center;
        max-width: 300px;
        @media (min-width: 767px) {
            width: 285px;
        }
        @media (min-width: 1024px) {
            height: 210px;
            width: 300px;
        }
    }
        &__time {
            font-size: 13px;
            color: #bac0c4;
            align-items: center;
            display: grid;
            grid-template-columns: 20px auto;
            img {
                width: 16px;
                height: 16px;
                padding-right: 5px;
            }
            p {
                margin: 0;
            }
        }
    &--modifier {
        @media (min-width: 767px) {
            display: none;
        }
        @media (min-width: 1024px) {
            display: grid;
        }
    }
}