.card-slider {
    padding-left: 20px;
    width: 300px;
    @media (min-width: 767px) {
        max-width: 300px;
    }
    @media (min-width: 1024px) {
        height: 250px;
        padding: 10% 0 10% 10%;
    }
    &__title {
        font-size: var(--font-size-large);
        margin: 0;
        padding: 35px 0 10px 0;
        @media (min-width: 1024px) {
          padding-top: 0;
        }
    }
    &__desc {
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: var(--font-size-medium);
        line-height: 2;
        color: var(--color-text-alt);
        margin: 0;
    }
    img {
        size: cover;
        position: center;
        width: 300px;
        @media (min-width: 767px) {
            width: 284px;
        }
        @media (min-width: 1024px) {
            height: 210px;
        }
    }
        &__time {
            margin: 0;
            font-size: var(--font-size-medium);
            color: var(--color-time);
            align-items: center;
            display: grid;
            grid-template-columns: 20px auto;
            img {
                width: var(--font-size-large);
                height: var(--font-size-large);
                padding-right: 5px;
            }
        }
    &--modifier {
        @media (min-width: 767px) {
            display: none;
        }
        @media (min-width: 1024px) {
            display: grid;
        }
    }
}


.swiper-container {
    width: 300px;
    height: 750px;
    margin: 0 auto;
    @media (min-width: 767px) {
        width: 608px;
        height: 350px;
    }
    @media (min-width: 1024px) {
        width: 960px;
    }
  }

  .swiper-slide {
    text-align: center;
    background: var(--color-light);
    display: flex;
    flex-direction: column;
    width: 280px;
    text-align: left;
  }

.swiper-button-next, .swiper-button-prev {
    position: relative;
}

.carousel-card {
    height: 360px;
}