footer {
    display: grid;
    max-width: 300px;
    margin: 0 auto;
        @media (min-width: 767px) {
        padding-top: 50px;
        color: #fff;
        height: 270px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.2fr;
        grid-column-gap: 40px;
        max-width: 608px;
        margin: 0 auto;
        }
        @media (min-width: 1024px) {
            height: 200px;
            grid-template-columns: 0.5fr 2.2fr 3fr 1.5fr;
            grid-template-rows: 1fr;
            max-width: 960px;
            grid-column-gap: 20px;
            }
    }   

.logo {
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    display: none;
    @media (min-width: 767px) {
        display: block;
        }
}

.links {
    color: #cbd0d3;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    justify-content: start;
    align-items: center;
    font-size: 11px;
    justify-items: left;
    grid-template-rows: repeat(6, 30px);
    padding-top: 50px;
    @media (min-width: 767px) {
        text-transform: none;
        font-size: 13px;
        padding-top: 0;
        align-items: start;
        justify-content: start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 25px);
        }
    }


.input {
    justify-self: start;
    align-self: end;
    margin-bottom: -12px;
    font-size: 11px;
    color: #cbd0d3;
    display: none;
    @media (min-width: 767px) {
        display: block;
        padding-bottom: 10px;
        }
    @media (min-width: 1024px) {
        justify-self: end;
        align-self: start;
        }
    input {
        height: 40px;
        width: 250px;
        background-color: transparent;
        border: 1px solid #cbd0d3;
        border-radius: 5px;
        @media (min-width: 1024px) {
            margin-right: 40px;
            }
    }    
}

form {
    margin: 0 auto;
    > div {
      position: relative;
      background: transparent;    
      > input[type="email"] {
        height: 40px;
        width: 250px;
        background-color: transparent;
        border: 1px solid #cbd0d3;
        border-radius: 5px;   
        &:focus {  
            background-color: #fff;
            border: 2px solid #72ACFF;
            outline: 0;        
        }      
        &:valid {
          background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 200px 10px;
          & + label {
            opacity: 0;
          }
        }      
        &:invalid:not(:focus):not(:placeholder-shown) {
          border-color: red;
          & + label {
            opacity: 0;
          }
        }    
        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 400px;
            padding: 0 30px 20px 50px;
          }
        }       
      }
      
      .requirements {
        padding: 0 30px 0 50px;
        max-height: 0;
        transition: 0.28s;
        overflow: hidden;
        color: red;
      }    
    }
    
  }

::placeholder {
    color: #CBD0D3;
    opacity: 1;
    padding-left: 10px;
}

.socials {
    justify-self: start;
    align-self: start;
    padding-top: 50px;
    @media (min-width: 767px) {
        padding-top: 0;
        justify-self: end;
        align-self: end;
        }
    @media (min-width: 1024px) {
        align-self: start;
        }
        svg {
            margin-right: 20px;
        }
}
