
.nav {
  background-color: #f6f8f9;
}

.dropdown {
    overflow: hidden;
  }
  
  .dropdown-content {
    position: relative;
    display: none;
    background-color: #f6f8f9;
    width: 30%;
    left: 0;
    z-index: 1;
  }

  .dropdown-trigger {
    position: relative;
    &:focus + .dropdown-content {
        display: block;
        opacity: 1;
      }
    }
  

  .top-bar {
      max-width: 1250px;
      margin: 0 auto;
      height: 60px;
      display: grid;
      grid-template-columns: 10% auto 5%;
      align-items: center;
      &__logo {
        padding-left: 20px;
        align-self: center;
        color: red;
        font-weight: bold;
        font-size: 13px;
      }
      &__nav {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          font-size: 11px;
          font-weight: bold;
          &__link {
              text-transform: uppercase;
              padding: 0 20px;
              align-self: center;
          }
      }
      &__avatar {
          padding-left: 20px;
      }
  }

  .nav-container {
    padding: 1em;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  ul,
  li {
    list-style: none;
    -webkit-padding-start: 0;
  }
  
  
  //Navigation menu
  .nav-item {
    display: inline;
  }
  
  //Dropdown menu
  .nav-item-dropdown {
    position: relative;
    
    &:hover > .dropdown-menu {
      display: block;
      opacity: 1;
    }
  }
  
  .dropdown-trigger {
    position: relative;
    
    &:focus + .dropdown-menu {
      display: block;
      opacity: 1;
    }
    
  }
  
  .dropdown-menu {
    display: inline-block;
    text-align: right;
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; 
    width: 200px;
    height: 200px;
    background-color: #f6f8f9;
    padding: 20px 40px 200 0;
    &::before {
        background-color: #f6f8f9;
        content: "";
        left: -20;
        height: 200px;
        width: 20px;
        position: absolute;
        z-index: 1;
    }
    a {
        text-transform: uppercase;
        color: #A6ADB4;
        &:hover {
            color: #000;
        }
    }
  }
  
  .dropdown-menu-item {
    cursor: pointer;
    white-space: nowrap;
    line-height: 2;
    text-align: left;
  }
  