/* ==========================================================================
   Main content
   ========================================================================== */
* {
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    max-width: 608px;
    @media (min-width: 767px) {
        max-width: 608px;
    }
    @media (min-width: 1024px) {
        max-width: 960px;
    }
}
