
    
/* ==========================================================================
   Sections
   ========================================================================== */
    /* JUMBOTRON*/ 





.wrapper {
    background-color: #f6f8f9;
    padding-bottom: 40px;
}

.footer-wrapper {
    padding-bottom: 40px;
    background-color: #a6adb4;
}
// 
// HAPPENING 
// 

.happening {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    @media (min-width: 1024px) {
        height: 900px;
        max-width: 960px;
        grid-column-gap: 20px;
        grid-template-columns: 2fr 1fr;
        margin-bottom: 100px;
    }
}

.large-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-gap: 40px;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
    @media (min-width: 767px) {
        max-width: 608px;
    }
    @media (min-width: 1024px) {
        height: 900px;
        max-width: 760px;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}

.small-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 25px;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 40px;
    border-top: 1px solid #EBEDED;
    @media (min-width: 767px) {
        border-top: none;
        padding-top: 0;
        max-width: 608px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }
    @media (min-width: 1024px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: 900px;
        padding-top: 0;
        max-width: 360px;
    }
}


// 
// TRENDING
// 

.trending {
    background-color: #f6f8f9;
}


.header {
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 0;
    @media (min-width: 767px) {
        max-width: 608px;
    }
    @media (min-width: 1024px) {
        max-width: 960px;
    }
}



.bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: start;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    @media (min-width: 767px) {
        max-width: 608px;
    }
    @media (min-width: 1024px) {
        max-width: 960px;
    }
    h2 {
        margin: 0;
    }
    & > div {
        justify-self: end;
    }
}

.hero {
    display: grid;
    grid-template-columns: 100%;
    @media (min-width: 1024px) {
        grid-template-columns: 60% 40%;
    }
    @media (min-width: 1200px) {
        grid-template-columns: 60% 40%;
    }
}




.arrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    justify-content: end;
    svg {
        width: 20px;
        height: 20px;
    }
}

.hero__content {
    max-width: 1000px;
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

.hero__content > .jumbotron {
    display: flex;
    width: 100%;
    position: relative;
}

.hero__content > .jumbotron .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

