/* ==========================================================================
   Sections
   ========================================================================== */
    /* JUMBOTRON*/ 

   .jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 388px;
        @media (min-width: 767px) {
        height: 400px;
        width: 100%;
    }
        @media (min-width: 1024px) {
            height: 600px;
            width: 830px;
        
        }
    &__content {
        text-align: left;
        position: absolute;
        transform: translate(-50%, -50%);
        color: white;
        top: 50%;
        left: 50%;
        width: 320px;
        @media (min-width: 767px) {
            width: 600px;
            top: 50%;
            left: 55%;
        }
        @media (min-width: 1024px) {
            left: 50%;
        }
        &__title {
            font-size: 24px;
            padding-bottom: 20px;
            border-bottom: 2px solid #fff;
            @media (min-width: 767px) {
                width: 530px;
                padding-bottom: 30px;
            }
        }
        &__subtitle {
            font-size: 24px;
            margin-bottom: 10px;
            @media (min-width: 767px) {
                padding-top: 10px;
                margin-bottom: 0;
            }
        }
        &__desc {
            margin-top: 0;
            font-size: 16px;
            font-weight: 100;
            line-height: 26px;
            width: 327px;
            padding-bottom: 10px;
            @media (min-width: 767px) {
                width: 530px;
                padding-bottom: 30px;
            }
        }
        &__btn {
            display: flex;
            width: 134px;
            height: 40px;
            font-size: 11px;
            justify-content: center;
            align-items: center;
        }
      }
  }

/*HAPPENING*/   

.happening {
    display: grid;
}

.card-large {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    height: 300px;
    width: 325px;
    margin: 0 auto;
    border-radius: 2%;
    @media (min-width: 767px) {
        width: 100%;
        height: 430px;
    }
    @media (min-width: 1024px) {
    }
    &__category {
        height: 10%;
        font-size: 16px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 10%;
        left: 10%;
        @media (min-width: 767px) {
            top: 10%;
            left: 10%;
        }
    }
    &__content {
        text-align: left;
        position: relative;
        transform: translate(-50%, -50%);
        top: 65%;
        left: 50%;
        width: 280px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 767px) {
            top: 60%;
            display: flex;
            align-content: flex-end;
            justify-content: flex-end;
            height: 70%;
            width: 528px;
        }
        &__title {
            font-size: 24px;
            margin: 0;
        }
        &__desc {
            font-size: 16px;
            font-weight: light;
            line-height: 1.5;
            margin: 0;
        }
        &__time {
            font-size: 13px;
            color: #cbd0d3;
            display: flex;
            align-items: center;
            img {
                width: 16px;
                height: 16px;
                padding-right: 5px;
            }
        }
    }
}

.wrapper {
    background-color: #f6f8f9;
    padding-bottom: 40px;
}

.footer-wrapper {
    padding-bottom: 40px;
    background-color: #a6adb4;
}

.happening {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    @media (min-width: 767px) {
        max-width: 608px;
    }
    @media (min-width: 1024px) {
        height: 900px;
        max-width: 960px;
        grid-column-gap: 20px;
        grid-template-columns: 2fr 1fr;
    }
}

.header {
    margin: 0 auto;
    padding: 40px 0;
    @media (min-width: 767px) {
        max-width: 608px;
    }
    @media (min-width: 1024px) {
        max-width: 960px;
    }
}


.card-slider {
    align-content: center;
    @media (min-width: 767px) {
        width: 284px;
    }
    @media (min-width: 1024px) {
        height: 250px;
        padding: 10% 0 10% 10%;
    }
    &__title {
        font-size: 16px;
    }
    &__desc {
        font-size: 13px;
        line-height: 2;
        color: #A6ADB4;
        margin-bottom: 0;
    }
    img {
        size: cover;
        position: center;
        max-width: 325px;
        @media (min-width: 767px) {
            width: 284px;
        }
        @media (min-width: 1024px) {
            height: 210px;
        }
    }
        &__time {
            margin-top: 5px;
            font-size: 13px;
            color: #bac0c4;
            align-items: center;
            display: grid;
            grid-template-columns: 20px auto;
            img {
                width: 16px;
                height: 16px;
                padding-right: 5px;
            }
        }
    &--modifier {
        @media (min-width: 767px) {
            display: none;
        }
        @media (min-width: 1024px) {
            display: grid;
        }
    }
}

.large-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-gap: 20px;
}

.small-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 25px;
    @media (min-width: 767px) {
        max-width: 608px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    @media (min-width: 1024px) {
        grid-template-columns: 1fr;
    }
}

.card-small {
    align-content: center;
    @media (min-width: 767px) {
        width: 284px;
    }
    @media (min-width: 1024px) {
        height: 250px;
        padding: 10% 0 10% 10%;
    }
    &__title {
        font-size: 16px;
    }
    &__desc {
        font-size: 13px;
        line-height: 2;
        color: #A6ADB4;
        margin-bottom: 0;
    }
    img {
        size: cover;
        position: center;
        max-width: 325px;
        @media (min-width: 767px) {
            width: 284px;
        }
        @media (min-width: 1024px) {
            height: 210px;
        }
    }
        &__time {
            margin-top: 5px;
            font-size: 13px;
            color: #bac0c4;
            align-items: center;
            display: grid;
            grid-template-columns: 20px auto;
            img {
                width: 16px;
                height: 16px;
                padding-right: 5px;
            }
        }
    &--modifier {
        @media (min-width: 767px) {
            display: none;
        }
        @media (min-width: 1024px) {
            display: grid;
        }
    }
}

.trending {
    background-color: #f6f8f9;
    padding-top: 50px;
}

.swiper-container {
    width: 960px;
    height: 500px;
    margin: 0 auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    text-align: left;
  }

.swiper-button-next, .swiper-button-prev {
    position: relative;
}

.bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: start;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    h2 {
        margin: 0;
    }
    & > div {
        justify-self: end;
    }
}

.hero {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 100px;
}


.news-swiper {
    overflow: hidden;
    &__bar {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-items: start;
        align-items: center;
        border-bottom: 1px solid #cbd0d3;
        margin-top: 30px;
        width: 100%;
        h2 {
            margin: 0;
        }
        & > div {
            justify-content: end;
        }
    }
    &__card {
        height: 200px;
        &:nth-child(odd) {
            padding-top: 40px;
        }
        &__title {
            font-size: 16px;
            color: red;
            margin: 0;
            padding-bottom: 15px;
        }
        &__subtitle {
            font-size: 16px;
            margin: 0;
            padding-bottom: 5px;
        }
        &__desc {
            margin: 0;
            font-size: 16px;
            font-weight: light;
            line-height: 1.5;
            padding-bottom: 5px;
            color: #a6adb4;
        }
        &__time {
            font-size: 13px;
            color: #cbd0d3;
            display: flex;
            align-items: center;
            p {
                margin: 0;
            }
            img {
                width: 16px;
                height: 16px;
                padding-right: 5px;
            }
        }
    }
}

.arrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    svg {
        width: 20px;
        height: 20px;
    }
}

.hero {
    max-width: 1150px;
}

.hero > .jumbotron {
    display: flex;
    width: 100%;
    position: relative;
}

.hero > .jumbotron .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


